<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/mainLayout :: head(title=#{blog.title})"></head>
<body>
    <header th:replace="fragments/mainLayout :: header">
    </header>

    <main>
        <!--Blog content start-->
        <div th:if="${not blogPage.hasContent()}" th:text="#{blog.list.empty}">No content</div>
        <div class="container" th:if="${blogPage.hasContent()}">
            <article class="blog-post" th:each="blog : ${blogPage.content}">
                <div class="d-flex justify-content-between">
                    <h2 class="blog-post-title">
                        <a class="text-decoration-none link-secondary"
                           th:href="@{/blogs/{blogId}(blogId=${blog.id})}"
                           th:text="${blog.title}">
                            Blog title
                        </a>
                    </h2>
                    <div>
                        <a class="text-decoration-none text-success fs-2"
                           th:href="@{/blogs/update(id=${blog.id})}">
                            <i class="fas fa-edit"></i>
                        </a>

                        <a class="text-decoration-none text-danger fs-2"
                           th:href="@{/blogs/delete(id=${blog.id})}">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </div>

                <p class="blog-post-meta" th:text="${blog.date} + ' by Author'">December 23, 2013 by <a href="#">Author</a></p>
                <p th:text="${blog.content}">Content</p>
            </article>

            <!--Pagination start-->
            <div>
                <ul class="pagination"
                    th:with="order=${blogPage.sort.iterator().hasNext() ? blogPage.sort.iterator().next() : null},
                    sort=${order.property + ',' + order.direction}">
                    <li class="page-item"
                        th:classappend="${blogPage.number eq 0  ? 'disabled' : ''}">
                        <a class="page-link"
                           th:href="@{/blogs(page=${blogPage.number} - 1,sort=${sort})}"
                           th:text="#{pagination.previous}">
                            Previous
                        </a>
                    </li>

                    <li class="page-item"
                        th:each="pageNumber : ${#numbers.sequence(0, blogPage.totalPages - 1)}"
                        th:classappend="${pageNumber eq (blogPage.number) ? 'active' : ''}">
                        <a class="page-link"
                           th:href="@{/blogs(page=${pageNumber},sort=${sort})}"
                           th:text="${pageNumber} + 1">
                            1
                        </a>
                    </li>

                    <li class="page-item"
                        th:classappend="${blogPage.number eq blogPage.totalPages - 1  ? 'disabled' : ''}">
                        <a class="page-link"
                           th:href="@{/blogs(page=${blogPage.number} + 1,sort=${sort})}"
                           th:text="#{pagination.next}">
                            Next
                        </a>
                    </li>
                </ul>

                <!--            <span th:text="#{products.total(${productsPage.totalElements})} ">Total: 100</span>-->
            </div>
            <!--Pagination end-->

        </div>
        <!--Blog content end-->

    </main>

    <footer>

    </footer>
</body>
</html>