<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/mainLayout :: head(title=#{create.post.title})"></head>
<body class="d-flex flex-column min-vh-100">

<header th:replace="fragments/mainLayout :: header"></header>

<main class="container mt-3 flex-grow-1">
    <div class="row">
        <div class="col-md-6 offset-md-3 p-3 bg-light border rounded border-secondary">

            <form class="row"
                  method="POST"
                  th:with="userId=${#authentication.principal.id}"
                  th:object="${post}"
                  th:action="${action} == 'create' ? @{/public/posts/create(userId=${userId})} :
                            @{/public/posts/update(userId=${userId})}">

                <input type="hidden" th:field="*{id}" />

                <label class="col-sm-3 col-form-label"
                       th:text="#{create.post.postTitle} + ':'">
                </label>
                <div class="col-sm-9">
                    <input class="form-control"
                           type="text"
                           name="name"
                           th:placeholder="#{create.post.postTitle}"
                           th:field="*{title}"
                           th:classappend=" ${#fields.hasErrors('title') ? 'is-invalid' : ''}"
                           aria-describedby="titleValidation">
                    <div class="invalid-feedback"
                         id="titleValidation"
                         th:if="${#fields.hasErrors('title')}"
                         th:errors="*{title}">ERROR</div><br/>
                </div>

                <label class="col-sm-3 col-form-label"
                       th:text="#{create.post.content} + ':'">
                </label>
                <div class="col-sm-9">
                    <textarea class="form-control"
                              rows="20"
                              th:placeholder="#{create.post.content}"
                              th:field="*{content}"
                              th:classappend=" ${#fields.hasErrors('content') ? 'is-invalid' : ''}"
                              aria-describedby="contentValidation"></textarea>
                    <div class="invalid-feedback"
                         id="contentValidation"
                         th:if="${#fields.hasErrors('content')}"
                         th:errors="*{content}">ERROR</div><br/>
                </div>

                <button class="btn btn-secondary" type="submit" th:text="#{create.post.submit}"></button>
            </form>
        </div>

    </div>

</main>

<footer th:replace="fragments/mainLayout :: footer"></footer>

</body>
</html>