<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/mainLayout :: head(title=#{post.title})"></head>
<body class="d-flex flex-column min-vh-100">

<header th:replace="fragments/mainLayout :: header"></header>

<main class="container flex-grow-1">
    <article class="post-post">
        <h2 class="post-post-title" th:text="${post.title}">Blog title</h2>
        <p class="post-post-meta" th:text="${post.date} + ' by Author'">December 23, 2013 by <a href="#">Author</a></p>
        <p th:text="${post.content}">Content</p>
    </article>

    <div sec:authorize="isAnonymous()">
        <p class="fw-bold" th:text="#{create.comment.please.login}"></p>
    </div>

    <div sec:authorize="hasAnyRole('ADMIN', 'USER')">
        <form class="row" method="POST" th:object="${comment}" th:action="@{/public/posts/{postId}(postId=${post.id})}">
            <input type="hidden" th:field="*{id}" />

            <p class="fw-bold" th:text="#{create.comment.title}"></p>
            <div class="col-4">
                <textarea class="form-control"
                          rows="3"
                          th:placeholder="#{create.comment.placeholder}"
                          th:field="*{message}"
                          th:classappend=" ${#fields.hasErrors('message') ? 'is-invalid' : ''}"
                          aria-describedby="messageValidation">
                </textarea>
                <div class="invalid-feedback"
                     id="messageValidation"
                     th:if="${#fields.hasErrors('message')}"
                     th:errors="*{message}">ERROR</div>
                <button class="btn btn-outline-secondary my-2"
                        type="submit"
                        th:text="#{create.comment.submit}">
                </button>
            </div>
        </form>
    </div>


    <div class="row">
        <ul class="m-2 list-group col-6">
            <li class="list-group-item align-items-start"
                th:each="comm : ${comments}">

                    <div class="d-flex justify-content-between">
                        <div class="fw-bold" th:text="${comm.username}">Author</div>
                        <div>
                            <a class="text-decoration-none text-success fs-5"
                               th:href="@{/public/posts/{postId}/comments/update(postId=${post.id}, id=${comm.id})}">
                                <i class="fas fa-edit"></i>
                            </a>

                            <a class="text-decoration-none text-danger fs-5"
                               th:href="@{/public/posts/{postId}/comments/delete(postId=${post.id}, id=${comm.id})}">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                    </div>

                    <p class="text-break" th:text="${comm.message}">Comment text</p>

            </li>
        </ul>
    </div>
</main>

<footer th:replace="fragments/mainLayout :: footer"></footer>

</body>
</html>