<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/mainLayout :: head(title=#{page.register.title})"></head>
<body class="d-flex flex-column min-vh-100">

<header th:replace="fragments/mainLayout :: header"></header>

<main class="container flex-grow-1">

    <div class="form-signin">
        <form class="text-center" method="POST" th:object="${userDto}" th:action="@{/register}">
            <img class="mb-4"
                 th:src="@{/images/logo_tr.png}"
                 th:alt="#{login.logo.alt}">
            <h1 class="h3 mb-3 fw-normal"
                th:text="#{register.header}">
            </h1>

            <div class="form-floating">
                <input type="text"
                       class="form-control rounded-0 rounded-top border-bottom-0"
                       id="registerUsername"
                       th:field="*{username}"
                       th:placeholder="#{login.username}"
                       th:classappend=" ${#fields.hasErrors('username') ? 'is-invalid' : ''}"
                       aria-describedby="usernameValidation">
                <div class="invalid-feedback border-danger mt-0 border-top text-start p-2"
                     id="usernameValidation"
                     th:if="${#fields.hasErrors('username')}"
                     th:errors="*{username}">
                </div>
                <label for="registerUsername"
                       th:text="#{login.username}">
                </label>
            </div>

            <div class="form-floating">
                <input type="password"
                       class="form-control rounded-0 border-bottom-0"
                       id="registerPassword"
                       th:field="*{password}"
                       th:placeholder="#{login.password}"
                       th:classappend=" ${#fields.hasErrors('password') ? 'is-invalid' : ''}"
                       aria-describedby="passwordValidation">
                <div class="invalid-feedback border-danger mt-0 border-top text-start p-2"
                     id="passwordValidation"
                     th:if="${#fields.hasErrors('password')}"
                     th:errors="*{password}">
                </div>
                <label for="registerPassword"
                       th:text="#{login.password}">
                </label>
            </div>

            <div class="form-floating mb-3">
                <input type="password"
                       class="form-control rounded-0 rounded-bottom"
                       id="repeatPassword"
                       th:field="*{repeatPassword}"
                       th:placeholder="#{register.password.repeat}"
                       th:classappend=" ${#fields.hasErrors('repeatPassword') ? 'is-invalid' : ''}"
                       aria-describedby="repeatPasswordValidation">
                <div class="invalid-feedback mt-0 text-start p-2"
                     id="repeatPasswordValidation"
                     th:if="${#fields.hasErrors('repeatPassword')}"
                     th:errors="*{repeatPassword}">
                </div>
                <label for="repeatPassword"
                       th:text="#{register.password.repeat}">
                </label>
            </div>

            <button class="w-100 btn btn-lg btn-primary"
                    type="submit"
                    th:text="#{register.submit}">
            </button>
        </form>
    </div>

</main>

<footer th:replace="fragments/mainLayout :: footer"></footer>

</body>
</html>