<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/mainLayout :: head(title=#{page.internalError.title})"></head>
<body class="d-flex flex-column min-vh-100">

<header th:replace="fragments/mainLayout :: header"></header>

<main class="flex-grow-1">
    <img class="mx-auto d-block"
         th:src="@{/images/500error.jpg}"
         th:alt="#{image.internalError.alt}"/>
</main>

<footer th:replace="fragments/mainLayout :: footer"></footer>

</body>
</html>