<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--Main header-->
<header th:fragment="header">
  <div></div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark container-fluid">
    <div class="container">
      <a class="navbar-brand" th:href="@{/blogs}" th:text="MyBlog">Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">User</a>
          </li>
        </ul>

        <div th:replace="this :: langSelect"></div>

<!--        <form class="d-flex">-->
<!--          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--          <button class="btn btn-outline-light" type="submit">Search</button>-->
<!--        </form>-->
      </div>
    </div>
  </nav>
</header>

<!--Language select dropdown-->
<div th:fragment="langSelect" class="dropdown col-2 offset-4">
  <select id="locales" class="form-select form-select" aria-label=".form-select-lg example">
    <option th:text="#{lang.select}">Select languages</option>
    <option id="selectEN" value="EN" th:text="#{lang.en}">English</option>
    <option id="selectDE" value="DE" th:text="#{lang.de}">German</option>
    <option id="selectLT" value="LT" th:text="#{lang.lt}">Lithuanian</option>
  </select>
</div>

</html>